/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, progress {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-size: 14px;
    font-family: Raleway, 'Open Sans', Arial, sans-serif;
    font-weight: 300; /*Also loaded 600 for bold*/
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

sup {
    vertical-align: super;
    font-size:0.625em;
}
/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CUSTOM BASE STYLES*/

html, body{
    height:100%;
}

/*-- Prevents iPhone from resizing in landscape mode --*/
html { -webkit-text-size-adjust:none; }

/*-- Apply natural box model to all elements --*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

strong, .strong {
    font-weight:600;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

input, textarea {
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
}

a{
    color:inherit;
    text-decoration:none;
    cursor:pointer;
}
a:hover, a:focus{
    text-decoration:underline;
}
a.active{
}
li.active{
}
.font-100 {
    font-size:70%!important;
}


h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    color: #212121;
    line-height: 57px;
    font-size: 54px;
    font-weight: 200;
    letter-spacing: -1px;
}

h2 {
    line-height: 26px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #717171;
}

h4 {
    line-height: 24px;
    margin-bottom: 20px;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p, li {
    font-size: 16px;
    line-height: 26px;
    color: #717171;
}