
.dots-wrapper {
    position: fixed;
    left: 2%;
    top: 35%;
    z-index: 2000;
}

.dots {
    width: 8px;
    height: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    float: left;
    clear: both;
    border-radius: 20px;
    background-color: #d9d9d9;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.pull-right{
    float: right;
}
.btn-spacing-top{
    padding-top: 10px;
}

.btn-app-links{
    display: inline-block;
}

.btn-store{
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight:400;
    line-height: 20px;

    display: inline-block;
    padding: 13px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 100%, .6);
    border-radius: 6px;
    color: #ffffff;
    background: transparent;
    text-transform: uppercase;
    text-decoration: none;
}
.btn-store:hover{
    background-color: hsla(0, 0%, 100%, .25);
    opacity: 1;
    border-color: #f28c64;
    text-decoration: none;
}
.btn-image{
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
.btn-image img{
    vertical-align: middle;
}
.btn-text{
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 11px;
    letter-spacing: 2px;
}
.btn-spacer{
    margin-right: 10px;
}
.logo{
    vertical-align: middle;
}
.logo-subtex{
    display: inline-block;
    margin-top: 13px;
    margin-left: 15px;
    padding: 6px 10px 4px;
    border-radius: 2px;
    background-color: #f28c64;
    font-family: Raleway, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.dots.w--current {
    border-color: #3c8dc5;
    background-color: #f28c64;
}

.nav-text {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    display: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    animation: slide 0.3s;

}

@keyframes slide {
    0% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.dots:hover + .nav-text {
    display: inline-block;
}

ul.bulleted{
}

ul.bulleted li:before{
    position: absolute;
    top:9px;
    left:0;
    content: '';
    height: 6px;
    width: 6px;
    border-radius:20%;
    background: #979797;
}

ul.bulleted li{
    position: relative;
    padding-left: 20px;
}

ul.btn-list{
}

ul.btn-list li{
    float: left;
    margin-right: 10px;
}

ul.btn-list li:last-child{
    margin-right: 0;
}
.btn-dark{
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight:400;
    line-height: 20px;

    display: inline-block;
    padding:14px 25px;
    border-width:1px;
    border-radius: 5px;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, .3);
    color: #ffffff;
    background: #f28c64;
    text-transform: uppercase;
    text-decoration: none;
}
.btn-dark:hover{
    opacity: 0.6;
    border-color: #f28c64;
    text-decoration: none;
}
.btn{
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight:400;
    line-height: 20px;

    display: inline-block;
    padding:14px 25px;
    border-width:1px;
    border-radius: 5px;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, .3);
    color: #ffffff;
    background: #70C855;
    text-transform: uppercase;
}
.btn:hover, .btn:focus{
    background: hsla(100, 100%, 100%, 0.3);
    text-decoration: none;
}

.btn.btn-dark:hover{
    background: #70C855;
    opacity: 0.7;
}

.btn span{
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.btn.disabled{
    pointer-events: none;
    background: #494949;
    opacity: 0.1;
}

.divider{
    height: 2px;
    line-height: 1px;
    font-size: 0;
    width: 50px;
    margin-bottom: 40px;
    background: #000;
}

.divider.center{
    margin-right: auto;
    margin-left: auto;
}

.divider.light{
    background: #ffffff;
}

#banner{
    min-height: 100%;
    padding-bottom: 30px;
    color:#ffffff;
    background-image: url('../images/pattern.png'), -webkit-linear-gradient(270deg, #f28c64 16%, #d95857 90%);
    background-image: url('../images/pattern.png'), linear-gradient(180deg, #f28c64 16%, #d95857 90%);
    background-position: 0% 0%, 0px 0px;
    background-size: auto, auto;
    background-repeat: repeat, repeat;
    background-attachment: fixed, fixed;
}

.banner--detail{
    padding-top: 30px;
}

.banner--detail-title{
    width: 49%;
    float:left;
}

.banner--detail h1{
    position: relative;
    font-size: 64px;
    font-weight: 200;
    line-height:70px;
    letter-spacing: -2px;
    z-index: 100;
    color:#ffffff;
    margin-bottom: 25px;
}

.banner--detail p{
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 25px;
}

.banner--detail p span{
    display: inline-block;
    margin-bottom: 5px;
}

.banner--detail h4{
    color: #ffffff;
    margin-bottom: 10px;
}

.banner .btn{
    margin-bottom: 25px;
}

.banner--car{
    width: 50%;
    height:auto;
    position: absolute;
    top:240px;
    right: 0;
    z-index: 0;
    transition: opacity 500ms, transform 500ms;
    transform: translateX(0px) translateY(0px) translateZ(0px);

    -webkit-transition: all 300ms ease;
    transition: all 500ms ease;
    animation: carSlide 0.8s;

}

@keyframes carSlide {
    0% {
        opacity: 0;
        transform: translate(80px, -80px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

#clockdiv{
    font-family: sans-serif;
    color: #000;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 30px;
    background:rgba(255,255,255,0.7);
    display: inline-block;
    border-radius: 3px;
    padding:10px;

}

#clockdiv h2{
    font-size:14px;
    margin:0 0 5px 0;
    letter-spacing: 0;
    text-transform: uppercase;
}

#clockdiv > div{
    margin-right: 10px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv > div:last-child{
    margin-right: 0;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #ffffff;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
}

#intro{
    position: relative;
    padding: 120px 0 100px 0;
    background: #ffffff;
}

.intro-col1{
    width:50%;
    float:left;
    margin-right: 10%;
}

.intro-col1 p{
    margin-bottom: 20px;
}

.intro-col1 ul{
    margin-bottom: 30px;
}

.intro-col1 ul li{
    margin-bottom: 5px;
}

.intro-col2{
    width:40%;
    float:left;
    text-align: right;

}

.intro-col2 img{
    width:100%;
    height:auto;
}

#screenshots{
    position: relative;
    padding: 80px 0 80px 0;
    background: #f7f8fb;
}

.screenshots h4{
    text-align: center;
}

.screenshots h1{
    text-align: center;
}

.screen-slides{

}

.screen-slides ul li{
    position:relative;
    display:inline-block;
    float: left;
    width:20%;
    margin-right: 6.3%;
}

.screen-slides ul li:before {
    width:100%;
    display:block;
    content: "";
    padding-top:204%;
}

.screen-slides ul li:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background: url(../images/screen-line.png) no-repeat;
    background-size: 100%;
}

.screen-slides ul li img{
    position: absolute;
    top: 12%;
    left: 10%;
    right: 0;
    width: 82%;
}

.screen-slides ul li:last-child{
    margin-right:0;
}

#testimonials{
    position: relative;
    padding: 80px 0 80px 0;
    background: #ffffff;
}

.testimonials h4{
    text-align: center;
}

.testimonials h1{
    text-align: center;
}

.testimonial{
    display: inline-block;
    width:48%;
    float: left;
    margin-right: 4%;
    padding: 50px 22px;
    background-color: #f2f3f7;
}

.testimonial:nth-child(2n+1) {
    margin-right:0;
}

.testimonial img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    float: left;
    border-radius: 100%;
}

.testimonial p{
    min-height:80px;
    font-size: 14px;
    margin-bottom:27px;
}

.testimonial label{
    padding-top: 15px;
    float: left;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

#contest{
    color: #ffffff;
    position: relative;
    padding: 100px 0 100px 0;
    background-image: url('../images/pattern.png'), -webkit-linear-gradient(270deg, #f28c64, #d95857);
    background-image: url('../images/pattern.png'), linear-gradient(180deg, #f28c64, #d95857);
    background-position: 0% 0%, 0px 0px;
    background-size: auto, auto;
    background-repeat: repeat, repeat;
    background-attachment: scroll, scroll;
}

.contest--detail{
    width: 50%;
    float:left;
}

.contest--detail h1,.contest--detail h4{
    color:#ffffff;
}

.contest--detail h2{
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 400;
}

.contest--detail p{
    margin-bottom: 5px;
    color: #ffffff;
    margin-bottom: 30px;
}

.contest--detail ul{
    margin-bottom: 30px;
}

.contest--detail ul li{
    color: #ffffff;
    margin-bottom: 10px;
}

.contest--detail ul li span{
    width: 90px;
    display: inline-block;
}

.contest--detail ul.bulleted li:before{
    background: #ffffff;
}

.contest--form{
    width: 50%;
    float:left;
    text-align: right;
}

.contest--form iframe{
    float: right;
}


