@media only screen and (max-width: 640px) {
    .banner--detail p{
        width:100%;
    }

    .intro-col1 p{
        width:65%;
    }
    .pull-right{
        float: none;
    }
    .app-buttons{
        padding-top: 20px;
    }
    .logo-subtex{
        margin: 10px 0 0 0 ;
    }
}