@media only screen and (max-width: 767px) {
    .wrapper{
        margin:0 5%;
    }

    .pull-right{
        float: none;
    }
    .app-buttons{
        padding-top: 20px;
    }
    .logo-subtex{
        margin: 10px 0 0 0 ;
    }

    h1 {
        line-height: 38px;
        font-size: 34px;
        margin-bottom: 40px;
    }

    h2 {
        line-height: 24px;
        margin-bottom: 20px;
        font-size: 16px;
    }

    h4 {
        line-height: 20px;
        margin-bottom: 15px;
        color: #000;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
        line-height: 22px;
        color: #717171;
    }

    .dots-wrapper{
        display: none;
    }

    #banner {
        min-height: auto;
    }

    .banner--detail-title{
        width: 100%;
        float:none;
    }

    .banner--detail h1{
        font-size: 38px;
        line-height:44px;
        width:50%;
    }

    .banner--detail p{
        width:50%;
    }

    .banner--car{
        top:200px;
    }

    .banner--detail h2{
        font-size: 11px;
    }

    #clockdiv{
        font-size: 18px;
    }

    #clockdiv h2{
        font-size:12px;
    }

    #clockdiv > div {
    }

    #clockdiv div > span{
        padding: 14px;
    }

    .smalltext{
        font-size: 12px;
    }


    #intro{
        padding: 60px 0 60px 0;
    }

    .intro-col1{
        width: 100%;
        float:none;
        margin-right: 0;
    }

    .intro-col1 h1{
        width:65%;
    }

    .intro-col1 p{
        width:65%;
    }

    .intro-col2{
        position: absolute;
        top:30px;
        right:0;
        width:30%;
        text-align: right;

    }

    #screenshots{
        position: relative;
        padding: 60px 0 60px 0;
        background: #f7f8fb;
    }

    .screen-slides ul li{
        position:relative;
        display:inline-block;
        float: left;
        width:20%;
        margin-right: 6.3%;
    }

    .screen-slides ul li{
        width:45%;
        margin-right: 10%;
        margin-bottom: 40px;
    }

    .screen-slides ul li:nth-child(2n){
        margin-right: 0;
    }

    .screen-slides ul li:nth-child(2n+1){
        clear:both;
    }

    #testimonials{
        padding: 60px 0 60px 0;
    }

    .testimonial{
        display: block;
        width:100%;
        float: none;
        margin-right: 0;
        margin-bottom: 30px;
        padding: 40px 22px;
    }

    .testimonial:nth-child(2n+1) {
        margin-bottom: 0;
    }

    .contest--detail{
        width: 100%;
        float:none;
    }

    .contest--form{
        width: auto;
        margin: 30px auto 0 auto;
        float:none;
    }

    .contest--form iframe{
        float:none;
    }

}

@media only screen and (max-width: 1260px) {
    .wrapper{
        margin:0 5%;
    }
}

@media only screen and (max-width: 900px) {

    .contest--detail{
        width: 100%;
        float:none;
    }

    .pull-right{
        float: none;
    }
    .app-buttons{
        padding-top: 20px;
    }


    .contest--form{
        width: auto;
        margin: 30px auto 0 auto;
        float:none;
    }

    .contest--form iframe{
        float:none;
    }

}